
.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;

}

.number-button{
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  /* padding: 20px; */
  /* background-color: darkblue; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: rgb(16, 0, 133);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 50ms ease-in-out;

}
.action-button{
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  /* padding: 20px; */
  /* background-color: darkblue; */
  background-color: rgba(255, 255, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: rgb(16, 0, 133);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 50ms ease-in-out;

}

.number-button:hover{
  transform: scale(1.04);
  cursor: pointer;
}
.action-button:hover{
  transform: scale(1.04);
  cursor: pointer;
}