.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container{
  height: 90%;
  width: 70%;
  max-width: 350px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#0000ff81 -40%, transparent 114%);
  background-size:200%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;

}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 10px;

}

.number-button{
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  /* padding: 20px; */
  /* background-color: darkblue; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: rgb(16, 0, 133);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 50ms ease-in-out;

}
.action-button{
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  /* padding: 20px; */
  /* background-color: darkblue; */
  background-color: rgba(255, 255, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: rgb(16, 0, 133);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 50ms ease-in-out;

}

.number-button:hover{
  transform: scale(1.04);
  cursor: pointer;
}
.action-button:hover{
  transform: scale(1.04);
  cursor: pointer;
}

.display-container{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  align-items: center;

  input{
    height: 60px;
    outline: none;
    border: none;
    padding: 20px;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 100%;
    font-size: 30px;
    text-align: end;

  }
}